<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {{{body}}}
    </body>
    <footer>
        <p>Project by: Hal Vipan, Isabella Aston and Josh Wilson</p>
        <p>Check our our <a href="https://github.com/halvipan/SuperAwesomeKanbanBoard">repo!</a></p>
    </footer>
</html>