<main id="projects"></main>
<script>
    const state = {
        tasks: {{{tasks}}},
        users: {{{users}}},
        project: {{{project}}},
        taskType: "to-do"
    }
</script>
<script src="/projects.js"></script>
