* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: #0E192F;
    background-color: #E7EAEF
}

form {
    text-decoration: none;
}

.nav {
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}

.nav a {
    background-color: #0E192F;
    color: #E7EAEF;
    border: none;
    padding: 1vh;
    border-radius: 5px;
    text-decoration: none;
}

.taskForm {
    display: flex;
    direction: ltr;
    gap: 0.5vh;
}

.taskForm * {
    border-radius: .5rem;
    font-size: 100%;
    border: #0E192F solid 1px;
}

.button {
    background-color: #0E192F;
    color: #E7EAEF;
    border: none;
    padding: 1vh;
    border-radius: .5rem;
}

h1, h3 {
    text-align: center;
}

.allTasks {
    display: flex;
    justify-content: space-evenly;

}

.tasks {
    width: 30%;
    height: auto;
    min-height: 50vh;
}

.tasks h3 {
    padding: 1vh;
}

.task {
    border: 1px solid #0E192F;
    border-radius: 5px;
    width: 95%;
    margin: 0.5rem auto;
}

.taskEdit {
    display: flex;
    justify-content: space-between;
    padding: 0.5vh;
}

.taskEdit a {
    text-decoration: none;
}

.task p {
    text-align: center;
    padding: 0.5vh 0 1vh;
    color: #E7EAEF;
}

img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0.5vh;
}
.topBar{
    text-align: center;
    padding: .5vh;
    font-size: 3vh;
}
.topBar h2{
    margin: 0;
}
.userFormBar{
    padding: 1vh;
    display: flex;
    direction: rtl;
}
.userForm{
    display: flex;
    direction: ltr;
    gap: .5vh;
}
.userForm * {
    border-radius: .5rem;
    font-size: 100%;
    border: #0E192F solid 1px;
}

.button{
    color: white;
    background-color: #0E192F;
    border: none;
}

input {
    padding: 0.5vh;
}

.gallery{
    height: 29vw;
    margin: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vh;
}
.galleryItem{
    text-align: center;
    border-radius: 30px;
    height: 28vw;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.452);
    background-repeat: no-repeat;
    background-size: cover;
}
.galleryItem h3{
    background-color: #E7EAEF;
    border-radius: 30px;
    color: #0E192F;
    margin: auto;
    border: #0E192F solid 2px;
    height: 6vh;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link{
    text-decoration: none;
}

.galleryItem:hover{
    transform-origin: center;
    transform: scale(1.05, 1.05);
    transition: 1s;
}

.galleryProject{
    height: 28vw;
    border: #0E192F solid 2px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(110, 110, 110, 0.473);
}

.addProject{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1vh;
}

.addProject input{
    border-radius: 5px;
    border: #0E192F solid 1px;
    font-size: 1.5vh;
}

.addProject h3{
    font-size: 4vh;
}

.addProject .button{
    margin-left: 15%;
    padding: .25vh;
    width: 70%;
    margin-bottom: 3vh;
}

.toDoTasks{
    padding-bottom: 1rem;
    background-color: #779FCF;
}

.doingTasks{
    padding-bottom: 1rem;
    background-color: #507EB9;
}


.doneTasks{
    padding-bottom: 1rem;
    background-color: #1F487E;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    margin: auto;
    position: static;
    bottom: 0;
}

.container {
    margin-top: 1rem;
    text-align: center;
}
.delete {
    padding: 2rem;
    background-color: white;
    border-radius: 40%;
}
.delete:hover {
    background-color: red;
}

@media screen and (min-width: 40em) {
    .desktopView{
        display: block;
    }

    .phoneView{
        display: none;
    }
}